django-cors-headers
django-enumfield
django-extensions
django-extras
django-filter
django-rest-swagger
django
djangorestframework
drf-nested-routers
factory-boy
fake-factory
gunicorn
Markdown
Pillow
pip-tools
pytz
pyyaml
requests
six
wheel